{% extends 'base/main.html' %}

{% block content %}
    <div class="container mt-4">
        

        <form action="{% url 'delete_category' item.id %}" method="POST">
            {% csrf_token %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Kategori Sil !</h4>
                <hr>
                <p> "{{item}}" kategorisini silmek istediğinizden emin misiniz?</p>                
                <div class="row">
                    <div class="col-md-1">
                        <a class="btn btn-primary" href="{% url 'category' %}" style="width:100px">İptal</a>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-danger" type="submit" name="Delete Category" style="width:100px">Sil</button>
                    </div>
                
                </div>
            </div>
        </form>

    </div>



    

{% endblock content %}

