{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rolletto Ticket</title>
    <link rel="stylesheet" href="{% static '/css/mdb.min.css'%}">
<body background="{% static "images/background-login.png" %}" style="background-size: cover; background-repeat: no-repeat; margin: 0; padding: 0; height: 100vh;" >
    <row>
        <div class="px-4 py-5 px-md-5 text-lg-start">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="card" style=" background: hsla(0, 0%, 100%, 0.897);">
                            <div class="card-body py-5 px-md-5">
                                <h2 class="fw-bold mb-5 text-center">Giriş Yap</h2>
                                <form method="POST" action="">
									{% csrf_token %}
                                    <div class="row">
                                    </div>
                                        <div class="form mb-4">
                                        <input type="text" name="username" placeholder="Kullanıcı Adı" id="form3Example3" class="form-control" />
                                    </div>
                                    <div class="form line mb-4">
                                        <input type="password" name="password" placeholder="Şifre" id="form3Example4" class="form-control" minlength="4"/>
                                    </div>
                                    <div class="form-check d-flex justify-content-start mb-4">
                                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" />
                                        <label class="form-check-label" for="form2Example33">Beni hatırla</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block mb-4">Giriş Yap</button>
                                </form>
								{% for messages in messages%}
									<p id='messages' style="color:red">{{messages}}</p>
								{% endfor %}
                            </div>
							
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </row>
    <script src="js/mdb.min.js" type="text/javascript"></script>
</body>
</html>