{% extends 'base/main.html' %}


{% block content %}
  <h1>Bildirimler</h1>
  {% if unread_notification > 0 %}
    <p>{{ unread_notification }} okunmamış bildiriminiz var.</p>
  {% endif %}
  {% if unread_notification == 0 %}
    <p>{{ unread_notification }} bildiriminiz var</p>
  {% endif %}
  <ul>
    {% for notification in notifications %}
      <li{% if not notification.read %} class="unread"{% endif %}>
        {{ notification.message }} <span class="date">{{ notification.date_created|date }}</span>
        {% if not notification.read %}
          <form action="{% url 'notification_read' notification.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Okundu olarak işaretle</button>
          </form>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}