<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-dark mb-3" id="total-ticket">
                <div class="card-header" style="background-color:rgb(72, 126, 173);">
                    <h5 class="card-title">Total</h5>
                </div>
                <div class="card-body" style="background-color:rgb(129, 185, 233);">
                    <h3 class="card-title">{{total_problems}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-dark mb-3" id="total-ticket">
                <div class="card-header" style="background-color: rgb(233, 100, 121);">
                    <h5 class="card-title">Aktif</h5>
                </div>
                <div class="card-body" style="background-color: rgb(255, 147, 147);">
                    <h3 class="card-title">{{open}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-dark mb-3" id="total-ticket">
                <div class="card-header" style="background-color: rgb(125, 185, 182);">
                    <h5 class="card-title">Pasif</h5>
                </div>
                <div class="card-body" style="background-color: rgb(143, 218, 215);">
                    <h3 class="card-title">{{close}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
