{% extends 'base/main.html' %}

{% block content %}
    <div class="alert alert-success container mt-4" role="alert">
        <div class="row">
            <div class="col-md-12">
                <div class="p-4">
                    <form action="" method='POST'>
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-floating m-2 d-grid" style='height:50px'>
                                <h4 class="alert-heading">Problem Düzenle!</h4>
                            </div>
                            
                            <div class="col-md form-floating m-2 d-grid" style='height:50px'>
                                <p>Kullanıcı</p>
                                <div class="d-grid" style="height:50px">{{form.customer_name}}</div>

                                <div class="d-grid invisible" style="height:50px">{{form.add_by}}</div>
                                
                            </div>
                            <div class="col-md form-floating m-2 d-grid" style='height:50px'>
                                <p>Kategori</p>
                                <div class="d-grid" style="height:50px">{{form.category}}</div>
                                
                            </div>
                            <div class="col-md form-floating m-2 d-grid" style='height:50px'>
                                <p>M.Temsilcisi</p>
                                <div class="d-grid" style="height:50px">{{form.user}}</div>
                            </div>
                            <div class="col-md form-floating m-2 d-grid" style='height:50px'>
                                <p>Durum</p>
                                <div class="d-grid" style="height:50px">{{form.status}}</div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md m-2 d-grid" style='height:100px;'>
                                <p>Açıklama</p>
                                <div class="d-grid" style="height:100px">{{form.description}}</div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md m-2 d-grid">
                                <a class="btn btn-danger" href="{% url 'user' %}">İptal</a>
                            </div>
                            <div class="col-md m-2 d-grid">
                                <button class="btn btn-primary" type="submit" name="Problem Düzenle">Güncelle</button>
                            </div>
                        </div>
                    </form>  
                </div>
            </div>
        </div>
    </div>
    

    

{% endblock content %}