{% extends 'base/main.html' %}

{% block content %}

        
    <br>
    <div class="container">

        {% include 'base/status.html' %}
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card card-body" style="height: 700px">
                    <div class="overflow-auto pt-0 border-0">
                        <form action="" method="GET" class="mb-3">
                            <div class="row">
                                <div class="col-lg-2 my-2 col-md d-grid">
                                    {{problem_filter.form.status}}
                                </div>
                                <div class="col-lg-2 my-2 col-md d-grid">
                                    <button class="btn btn-primary" type="submit" name="Submit">Filtrele</button>
                                </div>
                                <div class="my-2 col-md d-grid justify-content-end">
                                    <a class="btn btn-danger" href="{% url 'add_problem' %}">Problem Ekle</a>
                                </div>
                                
                            </div>
                            <div class="row">
                                
                            </div>
                        </form>
                        <table class="table table-striped">
                            <thead class="position-sticky top-0" style="background-color:rgb(189, 205, 214);">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Oluşturan</th>
                                    <th scope="col">Kategori</th>
                                    <th scope="col">Kullanıcı Adı</th>
                                    <th scope="col">M. Temsilcisi</th>
                                    <th scope="col">Tarih</th>
                                    <th scope="col">Açıklama</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Düzenle</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for problem in problems %}
                                    <tr>
                                        <td scope="row" style="width: 2%">{{forloop.counter}}</td>
                                        <td>{{problem.add_by}}</td>
                                        <td style="max-width: 250px;">{{problem.category}}</td>
                                        <td style="min-width: 115px;">{{problem.customer_name}}</td>
                                        <td style="min-width: 116px;">{{problem.user.username}}</td>
                                        <td>{{problem.date_created|date:"j F Y"}}</td>
                                        <td style=" min-width: 250px;"><textarea class="form-control" id="floatingTextarea"readonly>{{problem.description}}</textarea></td>
                                        <td>{{problem.status}}</td>
                                        <td><a class="btn btn-primary" href="{% url 'update_problem' problem.id %}">Güncelle</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

{% endblock content %}